* {
  box-sizing: border-box;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  height: 100%;
  width: 412px;
  // background-color: rgba(201, 201, 189, 0.311);
  background-color: #fff;
  border: solid 1px #6a4c93;
}

.NavBar {
  width: 100%;
  height: 8%;
  align-self: flex-start;
  // background-color: #6a4c93;
  background-color: rgb(68, 142, 248);
}

.Home {
  height: 100%;
  // margin: 3%
}

.Footer {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  // background-color: #6a4c93;
  background-color: rgb(68, 142, 248);
  flex: 0 1 auto;
}

.name {
  // color: rgba(87, 141, 241);
  color: rgb(199, 198, 198);
  
    // font-family: 'Pacifico', cursive;
// font-family: 'Dancing Script', cursive;
// font-family: 'Shadows Into Light', cursive;
// font-family: 'Questrial', sans-serif;
// font-family: 'Righteous', cursive;
// font-family: 'Courgette', cursive;
// font-family: 'Faster One', cursive;
// font-family: 'Poiret One', cursive;
// font-family: 'Parisienne', cursive;
font-family: 'Mallanna', sans-serif;
// font-family: 'Mandali', sans-serif;
font-size: 1.2em;

}

.calldata {
color: rgb(199, 198, 198);

    // font-family: 'Pacifico', cursive;
// font-family: 'Dancing Script', cursive;
// font-family: 'Shadows Into Light', cursive;
// font-family: 'Questrial', sans-serif;
// font-family: 'Righteous', cursive;
// font-family: 'Courgette', cursive;
// font-family: 'Faster One', cursive;
// font-family: 'Poiret One', cursive;
// font-family: 'Parisienne', cursive;
font-family: 'Mallanna', sans-serif;
// font-family: 'Mandali', sans-serif;
font-size: 1.2em;

}