.contacts {
margin-top: 15px;  
margin-left: 13px;  
color: rgba(87, 141, 241);
  // font-family: 'Pacifico', cursive;
// font-family: 'Dancing Script', cursive;
// font-family: 'Shadows Into Light', cursive;
// font-family: 'Questrial', sans-serif;
// font-family: 'Righteous', cursive;
// font-family: 'Courgette', cursive;
// font-family: 'Faster One', cursive;
// font-family: 'Poiret One', cursive;
// font-family: 'Parisienne', cursive;
font-family: 'Mallanna', sans-serif;
// font-family: 'Mandali', sans-serif;
font-size: 1.2em;

}

.contactsButton {
  margin-left: 31%; 
  margin-bottom: 25px;
}