.contacts {
margin-top: 15px;  
margin-left: 13px;  
color: rgba(87, 141, 241);
font-family: 'Mallanna', sans-serif;
font-size: 1.2em;

}

.contactsButton {
  margin-left: 31%; 
  margin-bottom: 25px;
}