.DB {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  height: 40px;
}

.name {
margin-right: 20px;
/* align-self: flex-start */
color: rgba(87, 141, 241)
}

.calldata {
  /* align-self: flex-end */
  /* color: rgba(87, 141, 241); */
}

.phone {
  
}

.star {
  
}

.delete {

}

.line2 {

}

.line {
/* display: flex; */
}

