.DB {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  height: 40px;
}

.name {
margin-right: 20px;
/* align-self: flex-start */
}

.calldata {
  /* align-self: flex-end */
}

.phone {
  
}

.star {
  
}

.delete {

}

.line2 {

}

.line {
/* display: flex; */
}

