.DB {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: space-around;
  height: 40px;
}

.name {
margin-right: 20px;
color: rgba(87, 141, 241)
}


