.Nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 2.4em;
}

.title {
  margin-left: 3%;
  // font-family: 'Pacifico', cursive;
// font-family: 'Dancing Script', cursive;
// font-family: 'Shadows Into Light', cursive;
// font-family: 'Questrial', sans-serif;
// font-family: 'Righteous', cursive;
// font-family: 'Courgette', cursive;
// font-family: 'Faster One', cursive;
font-family: 'Poiret One', cursive;
// font-family: 'Parisienne', cursive;
// font-family: 'Mallanna', sans-serif;
// font-family: 'Mandali', sans-serif;
}

.search {
  font-size: 0.9em;
  margin-right: 20px;
  margin-top: 15px;
  width: 180px;
}